Retails/obj/Debug/build.force
Retails/bin/Debug/Retails.vshost.exe.config
Retails/obj/Debug/Retails.application
Retails/obj/Debug/Retails.exe.manifest
Retails/obj/Debug/Retails.frm_000_Item.resources
Retails/obj/Debug/Retails.frm_000_ItemList.resources
Retails/obj/Debug/Retails.vbproj.FileListAbsolute.txt
Retails/bin/Debug/Retails.application
Retails/bin/Debug/Retails.exe.config
Retails/bin/Debug/Retails.exe.manifest
Retails/bin/Debug/Retails.vshost.application
Retails/bin/Debug/Retails.vshost.exe.manifest
Retails/obj/Debug/Retails.frm_100_POList.resources
Retails/obj/Debug/Retails.MainForm.resources
Retails/obj/Debug/Retails.frm_100_DR.resources
Retails/obj/Debug/Retails.frm_100_DRList.resources
Retails/obj/Debug/Retails.frm_100_DR_Search_Item.resources
Retails/obj/Debug/Retails.frm_100_DoctorPay.resources
Retails/obj/Debug/Retails.frm_100_DoctorPayList.resources
Retails/obj/Debug/Retails.frm_100_PO_Search_Item.resources
Retails/obj/Debug/Retails.frm_100_Payout.resources
Retails/obj/Debug/Retails.frm_100_PayoutList.resources
Retails/obj/Debug/Retails.frm_100_WR.resources
Retails/obj/Debug/Retails.frm_100_WRList.resources
Retails/obj/Debug/Retails.frm_100_WR_Search_Item.resources
Retails/obj/Debug/Retails.xml
Retails/bin/Debug/RetailPoint.application
Retails/bin/Debug/RetailPoint.exe.manifest
Retails/bin/Debug/RetailPoint.vshost.application
Retails/bin/Debug/RetailPoint.vshost.exe.config
Retails/bin/Debug/RetailPoint.vshost.exe.manifest
Retails/bin/Debug/RetailPoint.xml
Retails/obj/Debug/RetailPoint.ErrorProviderExtended.resources
Retails/obj/Debug/RetailPoint.LoginForm.resources
Retails/obj/Debug/RetailPoint.MainForm.resources
Retails/obj/Debug/RetailPoint.Resources.resources
Retails/obj/Debug/RetailPoint.TrustInfo.xml
Retails/obj/Debug/RetailPoint.application
Retails/obj/Debug/RetailPoint.exe.manifest
Retails/obj/Debug/RetailPoint.frmAbout.resources
Retails/obj/Debug/RetailPoint.frmDeleteItem.resources
Retails/obj/Debug/RetailPoint.frmMyAccount.resources
Retails/obj/Debug/RetailPoint.frmPic.resources
Retails/obj/Debug/RetailPoint.frmPicFrame.resources
Retails/obj/Debug/RetailPoint.frmSQLConfig.resources
Retails/obj/Debug/RetailPoint.frm_000_Company.resources
Retails/obj/Debug/RetailPoint.frm_000_Item.resources
Retails/obj/Debug/RetailPoint.frm_000_ItemCategory.resources
Retails/obj/Debug/RetailPoint.frm_000_ItemList.resources
Retails/obj/Debug/RetailPoint.frm_000_Location.resources
Retails/obj/Debug/RetailPoint.frm_000_Supplier.resources
Retails/obj/Debug/RetailPoint.frm_000_User.resources
Retails/obj/Debug/RetailPoint.frm_000_UserRights.resources
Retails/obj/Debug/RetailPoint.frm_100_DR.resources
Retails/obj/Debug/RetailPoint.frm_100_DRList.resources
Retails/obj/Debug/RetailPoint.frm_100_DR_Search_Item.resources
Retails/obj/Debug/RetailPoint.frm_100_DoctorPay.resources
Retails/obj/Debug/RetailPoint.frm_100_DoctorPayList.resources
Retails/obj/Debug/RetailPoint.frm_100_ItemSelected.resources
Retails/obj/Debug/RetailPoint.frm_100_PO.resources
Retails/obj/Debug/RetailPoint.frm_100_POList.resources
Retails/obj/Debug/RetailPoint.frm_100_PO_Search_Item.resources
Retails/obj/Debug/RetailPoint.frm_100_Payout.resources
Retails/obj/Debug/RetailPoint.frm_100_PayoutList.resources
Retails/obj/Debug/RetailPoint.frm_100_SalesScreen.resources
Retails/obj/Debug/RetailPoint.frm_100_SalesScreen_Pay.resources
Retails/obj/Debug/RetailPoint.frm_100_WR.resources
Retails/obj/Debug/RetailPoint.frm_100_WRList.resources
Retails/obj/Debug/RetailPoint.frm_100_WR_Search_Item.resources
Retails/obj/Debug/RetailPoint.frm_200_DoctorsPayReport.resources
Retails/obj/Debug/RetailPoint.frm_200_Payout.resources
Retails/obj/Debug/RetailPoint.frm_200_SalesReport.resources
Retails/obj/Debug/RetailPoint.vbproj.FileListAbsolute.txt
Retails/obj/Debug/RetailPoint.xml
Database1/Database1.dbmdl
Database1/Database1.sqlproj
RetailDB/RetailDB.sqlproj
