Retails/obj/Debug/build.force
Retails/bin/Debug/Retails.vshost.exe.config
Retails/obj/Debug/Retails.application
Retails/obj/Debug/Retails.exe.manifest
Retails/obj/Debug/Retails.frm_000_Item.resources
Retails/obj/Debug/Retails.frm_000_ItemList.resources
Retails/obj/Debug/Retails.vbproj.FileListAbsolute.txt
Retails/bin/Debug/Retails.application
Retails/bin/Debug/Retails.exe.config
Retails/bin/Debug/Retails.exe.manifest
Retails/bin/Debug/Retails.vshost.application
Retails/bin/Debug/Retails.vshost.exe.manifest
Retails/obj/Debug/Retails.frm_100_POList.resources
Retails/obj/Debug/Retails.MainForm.resources
